
.light-mode .About-container{
    background-color: var(--LFondo-2);
}
.light-mode .title-team,
.light-mode .container-text-app .About-text{
    color:var(--LText-1);
}




.dark-mode .About-container{
    background-color: var(--NFondo-2);
}
.dark-mode .title-team,
.dark-mode .container-text-app .About-text{
    color:var(--NText-1);
}


.container-all-about{
    align-items: center;
}

.About-container{
    padding-top: 40px; /* ESTO PARA EL ESPACIO ENTRE EL NAV */

    /*DIVIDIMOS EL CONTENEDOR EN 3 COLUMNAS*/
    display: grid;
    grid-template-rows: auto auto auto;
}

/*Primer contenedor*/
.container-text-app{
    text-align: center;
    font-size: 19px;
    width: 80%;
    margin: auto;
    padding: 30px;
    line-height: 2;
}
.container-text-app .About-text{
    text-align: center;
    margin-bottom: 50px;

}
.container-text-app .logo-henry{
    margin-bottom: 40px;
    width:25%;
    height: 120px;
    padding: 10px;
}

/*Segundo contenedor*/
.title-team{
    margin-bottom: 40px;
    text-align: center;
    margin: auto;
    font-size: 50px;
}

/*Tercer Contenedor*/
.container-about-us{
    margin-top: 50px;
    width: 90%;
    height:100%;
    margin: auto;
    /*DIVIDIMOS EL CONTENEDOR EN 3 FILAS*/
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.About-text {
    text-align: center;
}