.light-mode .container-perfil {
  background-color: var(--LFondo-1);
}

.light-mode .container-settings-user {
  background-color: black;
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.light-mode .container-user-information {
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.light-mode .title-my-account {
  color: black;
  text-shadow: var(--LDegradado) 0px 5px 20px;
}
.light-mode .container-account {
  color: black;
}
.light-mode .container-password {
  color: black;
}
.light-mode .button-change {
  background-color: #ffff00;
  color: var(--LText-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
  transition-duration: 0.4s;
}
.light-mode .button-change:hover {
  background-color: var(--LBase-1);
  color: var(--LText-3);
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.light-mode .button-dissable {
  background-color: #ffff00;
  color: var(--LText-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
  transition-duration: 0.4s;
}
.light-mode .button-dissable:hover {
  background-color: var(--LBase-1);
  color: var(--LText-3);
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.light-mode .button-delete {
  background-color: #ffff00;
  color: var(--LText-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
  transition-duration: 0.4s;
}
.light-mode .button-delete:hover {
  background-color: var(--LBase-1);
  color: var(--LText-3);
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.dark-mode .button-delete:hover {
  background-color: #ffff00;
  color: var(--LText-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.dark-mode .button-dissable:hover {
  background-color: #ffff00;
  color: var(--LText-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.dark-mode .button-change:hover {
  background-color: #ffff00;
  color: var(--LText-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.dark-mode .container-user-information {
  box-shadow: var(--NDegradado3) 0px 3px 8px;
}
.dark-mode .container-settings-user {
  box-shadow: var(--NDegradado3) 0px 3px 8px;
}
.container-perfil {
  background-color: rgb(30, 30, 30);
  display: flex;
  max-height: 120vh;
  min-height: 100vh;
  min-width: 35rem;
}

.container-settings-user {
  min-width: 15rem;
  background-color: rgba(0, 0, 0, 0.68);
  padding: 60px 6px 60px 20px;
}
.title-settings {
  color: aliceblue;
  margin: 3px;
  font-size: 16px;
  margin-top: 20px;
  padding: 7px;
  padding-left: 70px;
}
.settings-user {
  margin: 3px;
  margin-top: 35px;
}
.my-account-setting,
.history-setting {
  color: #ffff00;
  font-size: 16px;
  padding: 10px;
  padding-left: 70px;
  margin: 5px;
  cursor: pointer;
}
.log-out-setting {
  color: #ffff00;
  font-size: 16px;
  padding: 10px;
  padding-left: 70px;
  margin: 5px;
  margin: 3px;
  margin-top: 100px;
  cursor: pointer;
}

.container-account-user {
  min-width: 85%;
  display: flex;
  flex-direction: column;
  padding: 60px 6px 60px 20px;
}
.title-my-account {
  color: aliceblue;
  margin: 5px;
  margin-top: 23px;
  font-size: 22px;
  padding: 7px;
  margin-left: 55px;
}

.container-user-information {
  background-color: black;
  max-width: 60%;
  min-width: 40rem;
  margin: 3px;
  margin-top: 32px;
  margin-left: 60px;
}
.background-container {
  height: 6rem;
  background-color: #ffff00;
}
.information-head {
  display: flex;
  flex-direction: wrap;
  height: 4rem;
}
.image-icon-profile {
  height: 95px;
  width: 95px;
  border:2px solid yellow;
  border-radius: 50px;
  margin-left: 55px;
  margin-top: -30px;
}
.title-user-name {
  color: #ffff00;
  width: 65%;
  height: 65%;
  margin-left: 15px;
  padding-top: 15px;
  padding-left: 25px;
  font-size: 18px;
}
.button-edit-profile {
  background-color: #ffff00;
  margin: 6px 30px 15px 25px;
  width: 18%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.user-email {
  min-height: 15rem;
}
.edit-username,
.edit-email {
  display: flex;
  min-height: 4.5rem;
  margin-top: 25px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.68);
  padding-left: 60px;
 /*  border:2px solid yellow */
}


.container-username,
.edit-email-profile {
  width: 40rem;
  padding-left: 15px;
}
.username-text,
.email-text {
  color: #ffff00;
  border: 2px solid black;
  margin: 7px;
  font-size: 18px;
}
.username-profile,
.email-profile {
  color: #ffff00;
  margin: 7px;
  font-size: 18px;
  font-weight: normal;
}

.button-edit-email {
  background-color: #ffff00;
  margin: 10px 40px 20px 20px;
  width: 15%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-edit-username {
  background-color: #ffff00;
  margin: 12px 40px 20px 20px;
  padding-top: 13px;
  width: 15%;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.container-password {
  margin: 3px;
  margin-top: 32px;
  margin-left: 65px;
  color: aliceblue;
}

.container-account {
  margin: 3px;
  margin-top: 32px;
  margin-left: 65px;
  color: aliceblue;
}
.button-change {
  color: #ffff00;
  display: flex;
  background-color: black;
  font-size: 15px;
  margin: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}
.button-dissable,
.button-delete {
  color: #ffff00;
  display: flex;
  background-color: black;
  font-size: 15px;
  margin: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}
