.carousel-container img {
    height: 300px;
    width: 18%;
    margin: 10px;
    border: 1px solid black;
   
}
.carousel-container {
   display: flex;
   align-items: center;
   width: 100%;
   position: relative;
}

.btn-prev img {
    width: 50px;
    height: 70px;
    border:none;
}
.btn-next img{
    width: 50px;
    height: 70px;
    border:none; 
} 

.carousel-container-img{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 300px;
    padding: 5px;
    
    box-sizing: border-box;
}