.light-mode .carousel-container-img img {
  box-shadow: var(--LDegradado) 0px 5px 15px;
}

.dark-mode .carousel-container-img img {
  box-shadow: var(--LDegradado) 0px 5px 15px;
}

.carousel-container {
  position: relative;
  display: flex;
  width: 90%;
  min-height: 300px;
  margin: auto;
}

.carousel-container-img {
  width: 89%;
  margin: 0px auto;
}

.carousel-container-img img {
  height: 100%;
  width: 19%;
  margin: 0 0.5%;
}

.btn-prev {
  position: absolute;
  width: 5%;
  height: 100%;
  left: 0;
}

.btn-prev img {
  width: 100%;
  height: 70px;
  z-index: 2;
  box-shadow: none;
}

.btn-next {
  position: absolute;
  width: 5%;
  height: 100%;
  right: 0;
}

.btn-next img {
  width: 100%;
  height: 70px;
  z-index: 2;
  box-shadow: none;
}

/* .carousel-container-img Link{
    position: absolute;
    width: 100%;
    max-height: 300px;
    padding: 5px;
} */
