.light-mode .ContainerMovies {
  background-color: var(--LFondo-1);
}

.light-mode .Available h3 {
  background-color: var(--LBase-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
  color: var(--LText-3);
}

.light-mode .movies-filter {
  background-color: var(--LBase-1);
  box-shadow: var(--LDegradado) 0px 5px 15px;
  border: 1px solid var(--LDegradado);
}

.light-mode .Filter-results {
  box-shadow: var(--LDegradado) 0px 5px 15px;
  background-color: var(--LBase-1);
}
.light-mode .carousel-movies-b h1 {
  color: var(--LText-1);
}
.light-mode .movies-filter select {
  background-color: var(--BaseL);
  color: var(--LText-1);
}

.dark-mode .ContainerMovies {
  background-color: var(--NFondo-1);
}

.dark-mode .Available h3 {
  background-color: var(--BaseL);
  box-shadow: var(--LDegradado) 0px 5px 15px;
  color: var(--LText-1);
}

.dark-mode .movies-filter {
  background-color: var(--NDegradado3);
  box-shadow: var(--LDegradado) rgba(0, 0, 0, 0.39);
}

.dark-mode .Filter-results {
  box-shadow: var(--LDegradado) 0px 5px 15px;
  background-color: var(--NDegradado3);
}
.dark-mode .carousel-movies-b h1 {
  color: var(--NText-1);
}
.dark-mode .movies-filter select {
  background-color: var(--BaseN);
  color: var(--NText-2);
}

.ContainerMovies {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.2fr auto 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "films"
    "movies-filter"
    "movies-Result"
    "carousel-movies-b";
  padding-top: 30px; /* ESTO PARA EL ESPACIO ENTRE EL NAV */
}

.films {
  height: 100%;
  width: 100%;
  display: grid;
}

.Available {
  width: 80%;
  text-align: center;
<<<<<<< HEAD
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
=======
  margin: 0px auto 30px auto;
>>>>>>> f0ec69b64af6c74b3656b98be19ca7356122e68a
}

.Available h3 {
  padding: 10px;
  font-size: 25px;
  box-sizing: border-box;
  margin: auto auto 0 auto;
}

.movies-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 0;
  display: grid;
  /* grid-template-columns: 24% 24% 24% 24%; */
  grid-template-columns: 30% 30% 30%;
  gap: 0px 1%;
}
.movies-filter select {
  text-align: center;
  font-weight: 800;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.movies-Result {
  grid-area: movies-Result;
  height: 750px;
  width: 100%;
  align-items: center;
  margin: auto;
  position: relative;
}

.carousel-movies-b {
  grid-area: carousel-movies-b;
  margin-bottom: 20px;
}

.carousel-movies-b h3 {
  width: 100%;
  margin: 5px auto;
  padding: 10px;
}

.carousel-container {
  position: relative;
  display: flex;
  width: 90%;
  min-height: 350px;
  margin-bottom: 10px;
}
.Filter-results {
  padding: 10px;
  margin: auto;
  width: 80%;
<<<<<<< HEAD
  height: 800px; 
=======
  height: 100%;
>>>>>>> f0ec69b64af6c74b3656b98be19ca7356122e68a
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
