.light-mode .movie {
  background-color: #ffff00;
  box-shadow: var(--LDegradado) 0px 5px 15px;
}
.light-mode .movie-data {
  color: var(--LText-1);
}

.dark-mode .movie {
  background-color: #ffff00;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
}
.dark-mode .movie-data {
  color: var(--NText-2);
}

.movie {
  width: 45%;
  height: 330px;
  display: flex;
  flex-direction: row;
  margin: 1.5%;
}

.movie img {
  width: 230px;
  height: 330px;
}

.movie-data {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 2%;
}

.movie-data p {
  margin-top: 3%;
  font-size: 15px;
  font-weight: 400;
}

.movie-data h2 {
  text-align: left;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 3%;
  font-weight: 600;
}
