.light-mode .ContainerMovies {
    background-color: var(--LFondo-1);
}

.light-mode .Available h3 {
    background-color: var(--BaseL);
    box-shadow: var(--LDegradado) 0px 5px 15px;
    border: 1px solid var(--LDegradado);
}

.light-mode .movies-filter {
    background-color: var(--BaseL);
    box-shadow: var(--LDegradado) 0px 5px 15px;
    border: 1px solid var(--LDegradado);
}

.light-mode .Filter-results {
    box-shadow: var(--LDegradado) 0px 5px 15px;
    background-color: var(--BaseL);
    border: 1px solid var(--LDegradado);
}
.light-mode .carousel-movies-b h1 {
    color: var(--LText-1);
}
.light-mode .movies-filter select{
    background-color: var(--LBase-1);
    color: var(--LText-2);
}




.dark-mode .ContainerMovies {
    background-color: var(--NFondo-1);
}

.dark-mode .Available h3 {
    background-color: var(--BaseN);
    box-shadow: var(--NDegradado) 0px 5px 15px;
    border: 1px solid var(--NDegradado);
}

.dark-mode .movies-filter {
    background-color: var(--BaseN);
    box-shadow: var(--NDegradado) 0px 5px 15px;
    border: 1px solid var(--NDegradado);
}

.dark-mode .Filter-results {
    box-shadow: var(--NDegradado) 0px 5px 15px;
    background-color: var(--BaseN);
    border: 1px solid var(--NDegradado);
}
.dark-mode .carousel-movies-b h1 {
    color: var(--NText-1);
}
.dark-mode .movies-filter select{
    background-color: var(--NBase-1);
    color: var(--NText-2);
}






.ContainerMovies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.2fr 1.9fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "films"
        "movies-filter"
        "movies-Result"
        "carousel-movies-b";
}

.films {
    margin-top: 20px;
    grid-area: films;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 12% 88%;
    align-items: center;
}

.Available {

    width: 80%;
    text-align: center;
    margin: auto auto 0 auto;
}

.Available h3 {
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 3px;
}


.movies-filter {
    grid-area: movies-filter;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .6%;
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 0px 1%
}
.movies-filter select{
    border-radius: 30px;
    text-align: center;
    font-weight: 800;
}

.movies-Result {
    grid-area: movies-Result;
    height: 100%;
    width: 80%;
    align-items: center;
    margin: auto;
}

.carousel-movies-b {
    grid-area: carousel-movies-b;
    margin-bottom: 40px;
}

.carousel-movies-b h3 {
    width: 100%;
    margin: 10px auto;
}

.Filter-results {
    margin-top: 1%;
    position: absolute;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    overflow-y: scroll;
}