.container-foods{
    display:flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 100%;
}
.buttons-foods{
    max-height: 87%;
    min-height:87%;
    width:15%;
    border:2px solid blue;
    padding-top: 15%;
    padding-bottom: 25%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.containerForCards{
    border: 2px solid red;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 7%;
    padding-left: 7%;
    max-width: 85%;
    min-width: 85%;
}
.button-combos{
    display: flex;
    border:2px solid red;
    margin-bottom: 20px;
    height: 1.5cm;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.button-foods{
    display: flex;
    border:2px solid red;
    margin-bottom: 20px;
    height: 1.5cm;
    font-size: 19px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.button-drinks{
    display: flex;
    border:2px solid red;
    margin-bottom: 20px;
    height: 1.5cm;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}