.light-mode {
    .featured {
        background-color: var(--Dashboard-Base);
        box-shadow: var(--LDegradado3) 0px 3px 8px;
        color: var(--LText-1);

        .CircularProgressbar .CircularProgressbar-text {
            fill: var(--LText-1);
            ;
        }

        .CircularProgressbar .CircularProgressbar-trail {
            stroke: var(--LBase-1);
        }

        .bottom {
            color: var(--LText-1);

            .desc {
                color: gray;
            }

            .summary {
                .itemResult {
                    &.positive {
                        color: green;
                    }

                    &.negative {
                        color: red;
                    }
                }
            }
        }
    }
}

.dark-mode {
    .featured {
        background-color: var(--NFondo-3);
        box-shadow: var(--NDegradado3) 0px 3px 8px;
        color: var(--NText-1);

        .CircularProgressbar .CircularProgressbar-text {
            fill: var(--NText-1);
            ;
        }

        .CircularProgressbar .CircularProgressbar-trail {
            stroke: var(--NBase-1);
        }

        .bottom {
            .desc {
                color: rgb(192, 191, 191);
            }

            .summary {
                .itemResult {
                    &.positive {
                        color: greenyellow;
                    }

                    &.negative {
                        color: rgb(254, 57, 195);
                    }
                }
            }
        }
    }
}



/*====================================================*/
.featured {
    flex: 2;
    padding: 10px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 16px;
            font-weight: 500;
            font-weight: bolder;
        }
    }

    .bottom {

        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .featuredChart {
            width: 100px;
            height: 100px;
        }

        .title {
            font-weight: bold;
        }

        .amount {
            font-size: 30px;
        }

        .desc {
            font-weight: 300;
            font-size: 13px;
            text-align: center;
        }

        .summary {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                text-align: center;

                .itemTitle {
                    font-size: 16px;
                    font-weight: bold;
                }

                .itemResult {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 15px;
                    font-weight: bold;

                    // &.positive {
                    //     color: green;
                    // }

                    // &.negative {
                    //     color: red;
                    // }
                }
            }

        }

    }
}