@import url(../Utils/Pallette.css);

.light-mode input[type="text"] {
  border: 2px solid var(--LBase-1);
  color: var(--LText-1);
}
.light-mode input[type="text"]:focus {
  border: 2px solid var(--LBase-2);
  background-color: var(--LBase-1);
  color: var(--LText-2);
}


.dark-mode input[type="text"] {
  border: 2px solid var(--NBase-1);
  color: var(--NText-2);
}
.dark-mode input[type="text"]:focus {
  border: 2px solid var(--NBase-2);
  background-color: var(--NBase-1);
  color: var(--NText-2);
}


/*------------------------------------------------------------------------------*/

.search-container {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding-top: 0;
}
.input-icons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  
}

.input-field {
  padding: 8px;
  text-align: center;
} 

input[type="text"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 90%;
  text-align: left;
  margin: 20px 5px;
}

 
.input-icons i {
  position: relative;
} 

.button-search{
  width: 100%;
  font-size: 13px;
  padding: auto;
}
