.light-mode .input-field {
  border: 2px solid var(--NBase-2);
  color: var(--NText-2);
}
.light-mode .input-field:focus {
  border: 2px solid var(--NBase-2);
  background-color: var(--NBase-1);
  color: var(--NText-2);
}


.dark-mode .input-field {
  border: 2px solid var(--NBase-2);
  color: var(--NText-2);
}
.dark-mode .input-field:focus {
  border: 2px solid var(--NBase-2);
  background-color: var(--NBase-1);
  color: var(--NText-2);
}


/*------------------------------------------------------------------------------*/

.search-container {
  width: 90%;
}
.input-icons {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  margin: auto;
  /* border:2px solid blue; */
  
}

.input-field {
  padding-left: 2%;
  text-align: center;
  width: 95%;
  height: 100%;
  border:1px solid black;
  background-color: whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  text-align: left;
} 



 

.button-search{
  width: 100%;
  height: 100%;
  /* border:2px solid red; */
}
