/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;

  cursor: pointer;
  top: 0;
  left: 8px;
  right: 2px;
  bottom: 0;
  background-color: #ffff00;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  border-radius: 20px;
  left: 0.9em;
  bottom: 0.2em;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #000000;
  box-shadow: 0 0 1px #000000;
}

.light-mode .slider::after {
  width: 20px;
  height: 20px;
  left: 42%;
  top: 10%;
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: #ffff00;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

input:checked + .slider::after {
  left: 80%;
  width: 0px;
  height: 0px;
}
