@import url(../Utils/Pallette.css);



.light-mode .menu{
  background-color: var(--BaseL);
  color: var(--LText-1);
}
.light-mode .menu-link:hover {
  background-color: var(--LBase-1);
  color: var(--BaseL);
}
.light-mode .menu-nesting{
  background-color: var(--BaseLD);
}
.light-mode .menu-link {
  color: var(--LText-1);
}
.light-mode .menu-inside{
  border-top: 2px var(--LBase-1) solid;
}
.light-mode .menu-des > .menu-link:hover {
  background-color: var(--BaseLD);
}
.light-mode .logoh:hover,
.light-mode .menu-link-user:hover{
  background-color: var(--BaseLD);
}



.dark-mode .menu{
  background-color: var(--BaseN);
  color: var(--NText-2);
}
.dark-mode .menu-link:hover {
  background-color: var(--NBase-2);
  color: var(--BaseN);
}
.dark-mode .menu-nesting{
  background-color: var(--BaseND);
}
.dark-mode .menu-link {
  color: var(--NText-2);
}
.dark-mode .menu-inside{
  border-top: 2px var(--NBase-2) solid;
}
.dark-mode .menu-des > .menu-link:hover {
  background-color: var(--BaseND);
}
.dark-mode .logoh:hover,
.dark-mode .menu-link-user:hover{
  background-color: var(--BaseND);
}












/*======================================================================*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  height: 70px;
  font-weight: bold;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.menu-links {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  display: flex;
}

.menu-item {
  list-style: none;
  height: 100%;
  width: 11%;
}
.menu-itemSearchBar{
  list-style: none;
  height: 100%;
  width: 33%;
}


.menu-link {
  text-decoration: none;
  padding: 10px 30px;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
}
.menu-link-user{
  text-decoration: none;
  padding: 10px 30px;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
}
.menu-link-user .perfil{
  display: block;
  margin: auto;
}

.menu-des {
  list-style: none;
  position: relative;
  height: 100%;
  /*  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  --clip: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 0);
}

.menu-des:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-nesting {
  clip-path: var(--clip);
  list-style: none;
  transition: clip-path 0.3s;
  position: absolute;
  z-index: 1000;
}
.menu-inside{
  width: 250px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.menu-inside a{
  width: 100%;
  height: 100%;
  text-align: left;
}
.menu-link--inside {
  padding: 10px 100px 10px 30px;
}

.logo {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logoh {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.logoh:hover{
  cursor: pointer;
}


.Switch{
  font-size: 25px;
} 
