
.light-mode .menu{
  background-color: var(--BaseL);
  color: var(--LText-1);
}
.light-mode .menu-link:hover {
  background-color: var(--LBase-1);
  color: var(--BaseL);
}
.light-mode .menu-nesting{
  background-color: var(--BaseLD);
}
.light-mode .menu-link {
  color: var(--LText-1);
}
.light-mode .menu-inside{
  border-top: 2px var(--LBase-1) solid;
}
.light-mode .menu-des > .menu-link:hover {
  background-color: var(--BaseLD);
}




.dark-mode .menu{
  background-color: var(--BaseN);
  color: var(--NText-2);
}
.dark-mode .menu-link:hover {
  background-color: var(--NBase-2);
  color: var(--BaseN);
}
.dark-mode .menu-nesting{
  background-color: var(--BaseND);
}
.dark-mode .menu-link {
  color: var(--NText-2);
}
.dark-mode .menu-inside{
  border-top: 2px var(--NBase-2) solid;
}
.dark-mode .menu-des > .menu-link:hover {
  background-color: var(--BaseND);
}











/*======================================================================*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  height: 70px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  position: fixed;
  z-index: 100;
  opacity: 0.9;
}

.menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
}

.menu-links {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  display: grid;
  grid-template-columns: 10% 20% 10% 10% 10% 30% 5% 5%;
  align-items: center;
  align-content: center;
  list-style: none;
}

.menu-des{
  width: 100%;
  height: 100%;
}
.menu-des {
  list-style: none;
  /*  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  --clip: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 0);
}
.menu-des:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-nesting {
  clip-path: var(--clip);
  list-style: none;
  transition: clip-path 0.3s;
  position: absolute;
  z-index: 1000;
}
.menu-inside{
  width: 250px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.menu-inside a{
  width: 100%;
  height: 100%;
  text-align: left;
  text-decoration: none;
}
.menu-link--inside {
  padding: 10px 100px 10px 30px;
}


.menu-link-logo,
.menu-item-logo,
.menu-item-about,
.menu-item-movies,
.menu-item-food,
.menu-itemSearchBar,
.menu-item-mode,
.menu-item-perfil{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.logo {
  width: 50px;
  height: 50px;
  margin: auto;
  transition: 2s;
}

.menu-item-logo {
  transition: 0.5s;
  margin: auto;
}
.menu-item-logo:hover{
  transform: scale(0.9);
  transition: 0.5s;
}
.logoh {
  width: 80%;
  height: 80%;
  
}


.menu-itemSearchBar{
  list-style: none;
  /* border:2px solid red; */
  font-weight: normal;
  transition: 0.5s;
}

.link-food,
.link-movies,
.link-about{
  text-decoration: none;
  list-style: none;
}

.link-about,
.link-movies,
.link-food,
.menu-link-mode,
.menu-link-user{
  width: 100%;
  height: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  transition: 0.4s;
  font-size: 18px;
  margin: auto;
} 



.link-about:hover,
.link-food:hover,
.link-movies:hover {
  background-color: black;
  color: yellow;
}
.link-about:hover .menu-link-about,
.link-movies:hover .menu-link-movies,
.link-food:hover .menu-link-food{
  transform: scale(0.95);
  transition: 0.1s;
}


.menu-link-mode,
.menu-item-perfil,
.menu-link-user{
display: flex;
align-items: center;
text-align: center;
}
.perfil{
  height: 35px;
}




.menu-item-perfil:hover,
.menu-item-mode:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
} 

.iconD{
  color: blue;
}
.iconN{
color: crimson;
}