.light-mode .menu {
  background-color: var(--BaseL);
  color: var(--LText-1);
}

.light-mode .menu-nesting {
  background-color: var(--BaseLD);
}

.light-mode .menu-inside {
  background-color: var(--BaseL);
}
.dark-mode .menu-inside {
  background-color: var(--BaseL);
}
.dark-mode .menu {
  background-color: var(--BaseL);
  color: var(--NText-2);
}

.dark-mode .menu-nesting {
  background-color: var(--BaseND);
}

/*======================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  min-width: 60rem;
  height: 55px;
  font-weight: bold;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: transform 0.5s;
  display: flex;
  list-style: none;
  align-items: center;
}
.left-menu {
  display: flex;
  width: 100%;
  height: 80%;
}
.right-menu {
  display: flex;
}

.menu-links {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  list-style: none;
  align-items: center;
}

.menu-item-logo {
  list-style: none;
  height: 110%;
  width: 14%;
  padding: 10px;
  transition: 0.5s;
  text-align: center;
}

.menu-itemSearchBar {
  margin-top: 2px;
  width: 30%;
  align-items: center;
}

.link-foods,
.link-movies,
.link-about {
  color: black;
  width: 18%;
  padding: 20px;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}
.link-about:hover {
  background-color: black;
  color: #ffff00;
}
.link-movies:hover {
  background-color: black;
  color: #ffff00;
}
.link-foods:hover {
  background-color: black;
  color: #ffff00;
}
.items {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 20px;
  justify-content: space-between;
}

.menu-link-logo {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  display: grid;
  width: 60px;
  color: black;
  transition: 0.5s;
}
.menu-link-about,
.menu-link-movies,
.menu-link-food,
.menu-link-mode,
.menu-link-user {
  list-style: none;
  text-decoration: none;
  padding: 20px 20px;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  color: black;
  transition: 0.5s;
  font-size: 18px;
}

.menu-link-about:hover,
.menu-link-movies:hover,
.menu-link-food:hover {
  transform: scale(0.9);
  transition: 0.5s;
  cursor: pointer;
}

.menu-link-user {
  padding: 25px;
  justify-content: space-between;
  margin-top: 2px;
  width: 100%;
  text-decoration: none;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.menu-link-user .perfil {
  display: block;
  margin: auto;
}
.perfil {
  height:45px;
  width: 65px;
}
.menu-des {
  list-style: none;
  position: relative;
  height: 100%;
  /*  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  --clip: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 0);
}

.menu-des:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-nesting {
  clip-path: var(--clip);
  list-style: none;
  transition: clip-path 0.3s;
  position: absolute;
  z-index: 1000;
}

.menu-inside {
  width: 250px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.menu-inside a {
  width: 100%;
  height: 100%;
  text-align: left;
  text-decoration: none;
}
.menu-link--inside {
  padding: 20px 30px 15px 20px;
  color: black;
}
.menu-link--inside:hover {
  background-color: black;
  color: #ffff00;
}

.logo {
  width: 20px;
  height: 25px;
  cursor: pointer;
}

.logoh {
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  width: 90%;
  height: 70%;
}
.logoh:hover {
  cursor: pointer;
}

.Switch {
  font-size: 20px;
}

.moon {
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.logout {
  padding: 10px 100px 10px 30px;
}

.logout:hover {
  cursor: pointer;
  background-color: black;
  color: #ffff00;
}

.perfil {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
.perfil .fQQvfO {
  font-size: 2rem;
}
.shopBag {
  margin: 35px;
  margin-left: 45px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
}
.bag .fQQvfO {
  font-size: 2rem;
  cursor: pointer;
}

.userLogo {
  width: 35px;
}
.userLogo-registed{
  border-radius: 50px;
  width: 27px;
}
