.footer {
  height: 270px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: #ffff00;
  box-shadow: black;
}

.footer > div {
  flex: 1;
}
.footer-brand {
  max-height: 82px;
  width: 229px;
  margin: auto;
  justify-self: start;
}
.footer-info {
  width: 100%;
  height: 100%;
  display: flex;
}

.footer-info > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.footer-info > div .options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-info .options .option {
  font-weight: 500;
}
.footer-contact {
  /* justify-self: end; */
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 33%;
}
.footer-profile {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0.5em;
  background-color: #ffff00;
  box-shadow: 6px 6px 2px black;
  transition: all ease-in-out 0.3s;
}
.footer-profile:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.footer-profile .user {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.25em;
}
.footer-profile .tag {
  font-size: 12px;
  color: black;
  /* color: var(--main-color-font-light); */
}
.brand-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.made-by {
  font-weight: bold;
}

.a-href {
  text-decoration: none;
  font-size: 12px;
}
.a-href .user {
  color: black;
}
.a-href .tag {
  color: black;
  /* color: var(--main-color-font-light); */
}

.span-links {
  cursor: pointer;
}
.footer-options {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background-color: #ffff00;

  color: black;
  transition: all ease-in-out 0.3s;
}

.made-by {
  font-weight: bold;
  color: black;
}
