.container-succes{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
     align-items: center;
     
}
.image-succes{
    width: 20%;
  margin-top: 120px; 
   
}
.title-succes,
.text-succes{
    margin:25px;
   
}
.title-succes{
    font-size: 30px;
}
.text-succes{
    font-size: 25px;
    color:rgb(88, 87, 87)
}
.button-succes{
    background-color: yellow;
    
    height:50px;
    width:130px;
    font-size: 20px;
    text-align: center;
    margin:25px;
    transition: 0.5s;
}
.button-succes:hover{
    transition: 0.5s;
    background-color: black;
    color:yellow
}