.chart {
    flex: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
    padding: 10px;
    color: black;

    .title{
        margin-bottom: 20px;
        font-weight: bolder;
    }

    .chartGrid {
        stroke: whitesmoke;
    }
}