.sidebar {
  flex: 1;
  min-height: 100vh;
  min-width: 200px;
  max-width: 200px;
  background-color: var(--BaseL);

  .DesplegableSide {
    position: fixed;
    padding-top: 19px;
    z-index: 100;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    background-color: var(--BaseL);
    border-right: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;

    .link {
      text-decoration: none;
      color: black;
    }

    .top {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo { 
        width: 100px;
        height: 30px;
      }
    }

    hr {
      height: 0;
      border: 0.5px;
    }

    .center {
      padding-left: 10px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .dropdown {
          position: relative;

          &>.title {
            font-size: 12px;
            font-weight: bold;
            color: rgb(47, 47, 47);
            margin-top: 10px;
            margin-bottom: 5px;
            cursor: pointer;
          }

          &>.list {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            margin-top: -15px;
            padding-left: 10px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            z-index: 1;

            &.active {
              display: block;
            }

            li {
              display: inline-block;
              align-items: center;
              padding: 5px;
              cursor: pointer;

              &.active {
                display: block;
              }

              &:hover {
                background-color: var(--BaseL);
              }

              .span {
                font-size: 15px;
                margin-left: 10px;
              }

              .icon {
                font-size: 20px;
                color: black;
              }
            }
          }
        }

        .title {
          font-size: 12px;
          font-weight: bold;
          color: rgb(47, 47, 47);
          margin-top: 10px;
          margin-bottom: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        li {
          display: block;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }


          .span {
            font-size: 16px;
            margin-left: 10px;
          }

          .icon {
            font-size: 20px;
            color: black;
          }
        }
      }
    }

    .movies,
    .screenings,
    .combos,
    .foods,
    .drinks {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: block;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }

          .span {
            font-size: 15px;
            margin-left: 10px;
          }

          .icon {
            font-size: 20px;
            color: black;
          }
        }
      }
    }

  }
}


.MoviesDrop .dropdown,
.ScreenDrop .dropdown,
.CombosDrop .dropdown,
.FoodsDrop .dropdown,
.DrinksDrop .dropdown{
  visibility:hidden;
  height: 5px;
}

.MoviesDrop:hover .dropdown,
.ScreenDrop:hover .dropdown,
.CombosDrop:hover .dropdown,
.FoodsDrop:hover .dropdown,
.DrinksDrop:hover .dropdown{
  visibility: visible;
  height: auto;
}

