.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(225, 220, 220);
  min-height: 100vh;
  background-color: #ffff00;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: purple;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(225, 220, 220);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 11px;
        font-weight: bold;
        color: rgb(47, 47, 47);
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgba(242, 242, 100, 0.816);
        }

        .span {
          font-weight: 600;
          font-size: 15px;
          margin-left: 10px;
        }

        .icon {
          font-size: 18px;
          color: black;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOptions{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid;
        cursor: pointer;
        margin: 5px;
        
        &:nth-child(1){
            background-color: whitesmoke;
        }
        &:nth-child(2) {
            background-color: black;
        }
    }
  }
}
