.light-mode {
    .newCombo {
        background-color: var(--LBase-2);

        .newContainer {

            .top,
            .bottom {
                box-shadow: var(--LDegradado3) 0px 3px 8px;
                background-color: var(--Gold);

                h1 {
                    color: var(--LText-1);
                }

                .right {
                    form {
                        .formNC {
                            label {
                                color: var(--LText-1);
                            }
                        }

                        input {
                            border-bottom: 1px solid rgb(92, 92, 92);

                            &:hover {
                                background-color: var(--LFondo-2);
                            }
                        }

                        .buttonNC {
                            color: var(--LText-1);

                            .iconSubmit {
                                color: var(--LText-1);

                                &:hover {
                                    color: var(--LText-2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.dark-mode {
    .newCombo {
        background-color: var(--NFondo-1);

        .newContainer {
            background-image: url(../img/doodle.jpg);
        
            .top,
            .bottom {
                box-shadow: var(--NDegradado3) 0px 3px 8px;
                background-color: var(--NFondo-3);

                h1 {
                    color: var(--NText-1);
                }

                .right {
                    form {
                        .formNC {
                            label {
                                color: var(--NText-1);
                            }
                        }

                        input {
                            color: var(--NText-1);
                            border-bottom: 2px solid rgb(92, 92, 92);

                            &:hover {
                                background-color: var(--NFondo-2);
                            }
                        }

                        .buttonNC {
                            color: var(--NText-1);

                            .iconSubmit {
                                color: var(--NText-1);

                                &:hover {
                                    color: var(--NText-2);
                                    ;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*================================================================*/
.newCombo {
    width: 100%;
    display: flex;

    .newContainer {
        flex: 6;

        .top,
        .bottom {
            padding: 10px;
            margin: 20px;
            display: flex;

            h1 {
                font-size: 21px;
            }

            .left {
                    position: relative;
                    height: 400px;
                    flex: 1;
                    .imageNC {
                        border: 15px outset #000000;
                        position: absolute;
                        width: 380px;
                        height: 380px;
                        margin-right: 30px;
                        top: 0;
                        left: 0;
                        animation: float 3s ease-in-out infinite;
                    }
        
                    @keyframes float {
                        0% {
                            transform: translate(0, 0);
                        }
        
                        50% {
                            transform: translate(10px, 10px);
                        }
        
                        100% {
                            transform: translate(0, 0);
                        }
                    }
                }

            .right {
                flex: 2;

                position: relative;
                form {
                    margin-left: 20px;
                    margin-top: 35px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-between;
                    .formNC {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }

                        .icon {
                            cursor: pointer;
                            font-size: 30px;
                        }

                        .vals {
                            font-size: 13px;
                            font-style: oblique;
                            color: rgb(203, 7, 7);
                        }
                    }

                    input {
                        width: 90%;
                        padding: 10px 0px;
                        border: none;
                        border-bottom: 1px solid rgb(92, 92, 92);
                        font-size: 13px;
                        font-style: italic;
                    }

                    .buttonNC {
                        position: absolute;
                        right: 60px;
                        bottom: 30px;
                        background-color: transparent;
                        cursor: pointer;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}