.light-mode {
  .newDrink {
    background-color: var(--LBase-2);

    .newContainer {
      background-image: url(../img/doodle.jpg);

      .top,
      .bottom {
        box-shadow: var(--LDegradado3) 0px 3px 8px;
        background-color: whitesmoke;

        h1 {
          color: var(--LText-1);
        }

        .right {
          form {
            .formND {
              label {
                color: var(--LText-1);
              }

              .vals {
                color: rgb(203, 7, 7);
              }
            }

            input {
              color: var(--LText-1);
              border-bottom: 2px solid rgb(92, 92, 92);

              &:hover {
                background-color: var(--LFondo-2);
              }
            }

            .buttonND {
              color: var(--LText-1);

              &:hover {
                color: green;
                ;
              }

            }
          }
        }
      }
    }
  }
}

.dark-mode {
  .newDrink {
    background-color: var(--NFondo-1);

    .newContainer {
      background-image: url(../img/doodle.jpg);

      .top,
      .bottom {
        box-shadow: var(--NDegradado3) 0px 3px 8px;
        background-color: var(--NFondo-3);

        h1 {
          color: var(--NText-1);
        }

        .right {
          form {
            .formND {
              label {
                color: var(--NText-1);
              }

              .vals {
                color: rgb(203, 7, 7);
              }
            }

            input {
              color: var(--NText-1);
              border-bottom: 2px solid rgb(92, 92, 92);

              &:hover {
                background-color: var(--NFondo-2);
              }
            }

            .buttonND {
              color: var(--NText-1);

              &:hover {
                color: var(--NText-2);
                ;
              }

            }
          }
        }
      }
    }
  }
}



/*===================================================================================*/
.newDrink {
  width: 100%;
  display: flex;
  background-color: rgb(216, 213, 213);

  .newContainer {
    flex: 6;
    background-image: url(../img/doodle.jpg);

    .top,
    .bottom {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 10px;
      margin: 20px;
      display: flex;
      background-color: rgb(238, 210, 139);
      display: flex;

      h1 {
        color: rgb(98, 36, 36);
        font-size: 21px;
      }

      .left {
        position: relative;
        height: 400px;
        flex: 1;

        .imageND {
          border: 15px outset #000000;
          margin-left: 20px;
          position: absolute;
          width: 290px;
          height: 380px;
          margin-right: 30px;
          top: 0;
          left: 0;
          animation: float 3s ease-in-out infinite;
        }


        @keyframes float {
          0% {
            transform: translate(0, 0);
          }

          50% {
            transform: translate(10px, 10px);
          }

          100% {
            transform: translate(0, 0);
          }
        }
      }

      .right {
        flex: 2;
        margin-right: 60px;
        position: relative;

        form {
          margin-right: 40px;
          margin-top: 35px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: space-between;

          .formND {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;
              color: rgb(98, 36, 36);
            }

            .icon {
              cursor: pointer;
              font-size: 30px;
            }

            .vals {
              font-size: 13px;
              font-style: oblique;
              color: rgb(203, 7, 7);
            }
          }

          input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid rgb(92, 92, 92);
            font-size: 13px;
            font-style: italic;
          }

          .buttonND {
            position: absolute;
            border: none;
            background-color: transparent;
            color: black;
            font-size: 30px;
            bottom: 20px;
            right: 50px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}