/* Aqui Color Modo Dia */
.light-mode .Homehome {
    background-color: var(--LFondo-1);
    color: var(--LText-1);
}
.light-mode .container-paginated .buttonPage {
    background-color: var(--BaseL);
    color: var(--LText-1);
}
.light-mode .container-paginated .buttonPage:hover {
    background-color: var(--LBase-1);
    color: var(--LText-2);
}
.light-mode .HomeMovie .Peliculas {
    box-shadow: 1px 1px 10px 2px var(--LDegradado);
    -webkit-box-shadow: 1px 1px 10px 2px var(--LDegradado);
    -moz-box-shadow: 1px 1px 10px 2px var(--LDegradado);
}
.light-mode .HomeMovie button {
    background-color: var(--BaseL);
    color: var(--LText-1);
}
.light-mode .HomeMovie button:hover {
    color: var(--LText-2);
}
.light-mode .HomeMovie button::after {
    background-color: var(--LBase-1);
}




/* Aqui Color Modo Noche */
.dark-mode .Homehome {
    background-color: var(--NFondo-1);
    color: var(--NText-1);
}
.dark-mode .container-paginated .buttonPage {
    background-color: var(--NBase-1);
    color: var(--NText-2);
}

.dark-mode .container-paginated .buttonPage:hover {
    background-color: var(--BaseN);
    color: var(--NText-2);
}

.dark-mode .container-paginated .buttonPage {
    background-color: var(--BaseN);
    color: var(--NText-2);
}

.dark-mode .container-paginated .buttonPage:hover {
    background-color: var(--NBase-1);
    color: var(--NText-2);
}

.dark-mode .HomeMovie .Peliculas {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dark-mode .HomeMovie button {
    color: var(--NText-2);
    background-color: var(--BaseN);
}

.dark-mode .HomeMovie button:hover {
    color: var(--NText-1);
}

.dark-mode .HomeMovie button::after {
    background-color: var(--NBase-2);
}






.BodyHome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2% auto;
    grid-auto-flow: row;
    grid-template-areas:
        "HomeCarrusel"
        "HomePaginated"
        "HomeMovie";
    height: 100%;
    margin: 0;
    padding-top: 70px; /* ESTO PARA EL ESPACIO ENTRE EL NAV */
}

.HomeCarrusel {
    grid-area: HomeCarrusel;
}

.HomePaginated {
    grid-area: HomePaginated;
}

.HomeMovie {
    grid-area: HomeMovie;
}




.BodyHome button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.BodyHome a {
    font-weight: 600;
    height: 20px;
}