.light-mode .loginContainer {
    background-color: var(--LFondo-1);
}

.light-mode .form-imageContainer {
    background-color: var(--LFondo-1);
    box-shadow: rgb(0, 0, 0) 0px 0px 2px;
    color: var(--LText-1);
}

.light-mode .image-container {
    background-color: var(--BaseL)
}

.light-mode .form-container form input::placeholder {
    color: #858585;
}

.light-mode .check {
    background-color: var(--LBase-1);
}

.light-mode .sign-inPselect,
.light-mode .sign-upPselect {
    border-bottom: 1px solid var(--LBase-1);
}

.light-mode .sign-inP:hover,
.light-mode .sign-upP:hover {
    border-bottom: 1px solid var(--LBase-1);
}

.light-mode .checkmark {
    background-color: #ccc;
}

.light-mode .buttonSubmit {
    color: #212121;
    background: #e8e8e8;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
}

.light-mode .buttonSubmit::before {
    background-color: var(--BaseL);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
}

.light-mode .buttonSubmit:hover {
    color: var(--LText-1);
}

.light-mode .buttonSubmitup {
    color: #212121;
    background: #e8e8e8;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
}

.light-mode .buttonSubmitup::before {
    background-color: var(--BaseL);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
}

.light-mode .buttonSubmitup:hover {
    color: var(--LText-1);
}

.light-mode .S9gUrf-YoZ4jf div {
    border-color: var(--LBase-1);
    background-color: var(--LFondo-1);
    color: var(--LText-1);
}




.dark-mode .loginContainer {
    background-color: #111111;
}

.dark-mode .form-imageContainer {
    background-color: #232323;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 20px 40px;
    color: var(--NText-1);
}

.dark-mode .image-container {
    background-color: var(--BaseN)
}

.dark-mode .form-container form input::placeholder {
    color: var(--BaseND);
}

.dark-mode .check {
    background-color: var(--NBase-1);
}

.dark-mode .sign-inPselect,
.dark-mode .sign-upPselect {
    border-bottom: 1px solid var(--NBase-1);
}

.dark-mode .sign-inP:hover,
.dark-mode .sign-upP:hover {
    border-bottom: 1px solid var(--NBase-1);
}

.dark-mode .checkmark {
    background-color: #ccc;
}

.dark-mode .buttonSubmit {
    color: #ffffff;
    background: #111111;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.dark-mode .buttonSubmit::before {
    background-color: var(--BaseL);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.dark-mode .buttonSubmit:hover {
    color: var(--NText-2);
}

.dark-mode .buttonSubmitup {
    color: #212121;
    background: #e8e8e8;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.dark-mode .buttonSubmitup::before {
    background-color: var(--BaseL);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.dark-mode .buttonSubmitup:hover {
    color: var(--NText-2);
}

.dark-mode .S9gUrf-YoZ4jf div {
    border-color: var(--NBase-1);
    background-color: var(--NFondo-3);
    color: var(--NText-1);
}

/*====================================================*/
.loginContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .buttonSubmit {
  position: absolute;
  bottom: -170px;
  right: 50px;
  height: 40px;
  width: 80px;
  background-color: #2196F3;
} */

.form-imageContainer {
    height: 600px;
    width: 900px;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.image-container {
    position: relative;
    height: 100%;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.logo-image {
    height: 450px;
    width: 450px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* width: 100%; */
    position: relative;
    /* margin-left: 40px; */
    padding-bottom: 120px;
}

.prueba {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    height: 45px;
}

.signP {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.sign-inP {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}


.sign-inPselect {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;

}

.sign-upP {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

.sign-upPselect {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}


.check {
    width: 10px;
    height: 10px;
}


.formsignin {
    position: relative;
}

.formInput {
    border-bottom: 2px solid rgb(0, 255, 0);
    margin-bottom: 30px;
    height: 30px;
    width: 300px;
}

.badinput {
    border-bottom: 2px solid rgb(255, 0, 0);
    margin-bottom: 30px;
    height: 30px;
    width: 300px;
}


.desc-p {
    color: #03d217;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 4px;
}

.baddesc-p {
    color: rgb(255, 0, 0);
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 4px;
}

/* Customize the label (the container) */
.container {
    display: flex;
    position: relative;
    padding-left: 15px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    justify-content: center;
    align-items: center;
    height: 20px;
}

/* Hide the browser's default checkbox */
.container .checkinput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
}

.textdiv {
    font-size: 15px;
}

.googlecontainer {
    position: absolute;
    bottom: 120px;
}

/* When the checkbox is checked, add a blue background */
.container .checkinput:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container .checkinput:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.buttonSubmit {
    padding: 5px 10px;
    border: unset;
    z-index: 1;
    bottom: -40px;
    right: 226px;
    position: absolute;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
}

.buttonSubmit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: all 250ms
}

.buttonSubmit:hover {
    cursor: pointer;
}

.buttonSubmit:hover::before {
    width: 100%;
}

.buttonSubmitup {
    padding: 5px 10px;
    border: unset;
    z-index: 1;
    bottom: 100px;
    /* right: 225px; */
    position: absolute;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
}

.buttonSubmitup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: all 250ms
}

.buttonSubmitup:hover {
    cursor: pointer;
}

.buttonSubmitup:hover::before {
    width: 100%;
}


@media (max-width: 1100px) {
    .form-imageContainer{
        height: 600px;
        width: 600px;
    }
    .image-container {
        position: relative;
        height: 100%;
        width: 200px;
    }
    .logo-image{
        width: 200px;
    }
}

@media (max-width:800px) {
    .form-imageContainer{
        height: 600px;
        width: 500px;
    }
    .image-container {
        position: relative;
        height: 100%;
        width: 20px;
    }
    .logo-image{
        visibility: hidden;
        width: 0px;
    }
}