.light-mode .Big-container {
  background-color: var(--LFondo-1);
  color: var(--LText-1);
}

.light-mode .infoBar {
  background-color: var(--BaseL);
  color: var(--LText-1);
}

.light-mode .fancy {
  background-color: var(--BaseL);
  border: 2px solid var(--LBase-1);
}

.light-mode .fancy .top-key,
.light-mode .fancy .bottom-key-1,
.light-mode .fancy .bottom-key-2 {
  background-color: var(--BaseL);
}

.light-mode .fancy::before {
  background-color: var(--LText-1);
}

.light-mode .fancy .text {
  color: var(--LText-1);
  ;
}

.light-mode .fancy:hover {
  background: var(--LBase-1);
}

.light-mode .fancy:hover::before {
  background: var(--BaseL);
}

.light-mode .fancy:hover .text {
  color: var(--BaseL);
  ;
}

.light-mode .ytFrame {
  box-shadow: var(--LDegradado) 0px 10px 20px, var(--LDegradado) 0px 6px 6px;
}

.light-mode .coverImage {
  box-shadow: var(--LDegradado) 0px 5px 15px;
}

.light-mode .detailsContainerRight {
  border: 1px solid var(--LDegradado);
  background: var(--Degradado);
}




.dark-mode .Big-container {
  background-color: var(--NFondo-1);
  color: var(--NText-1);
}

.dark-mode .infoBar {
  background-color: var(--BaseN);
  color: var(--NText-2);
}

.dark-mode .fancy {
  background-color: var(--NBase-2);
  border: 2px solid var(--NBase-1);
}

.dark-mode .fancy .top-key,
.dark-mode .fancy .bottom-key-1,
.dark-mode .fancy .bottom-key-2 {
  background-color: var(--LBase-1);
}

.dark-mode .fancy::before {
  background-color: var(--NText-1);
}

.dark-mode .fancy .text {
  color: var(--NText-1);
  ;
}

.dark-mode .fancy:hover {
  background: var(--NBase-1);
}

.dark-mode .fancy:hover::before {
  background: var(--NBase-2);
}

.dark-mode .fancy:hover .text {
  color: var(--NBase-2);
  ;
}

.dark-mode .ytFrame {
  box-shadow: var(--LDegradado) 0px 10px 20px, var(--LDegradado) 0px 6px 6px;
}

.dark-mode .coverImage {
  box-shadow: var(--LDegradado) 0px 5px 15px;
}

.dark-mode .detailsContainerRight {
  border: 1px solid var(--NDegradado);
  background: var(--Degradado);
}

.Big-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  width: 100%;
  padding-top: 80px;
  /* ESTO PARA EL ESPACIO ENTRE EL NAV */
  flex-direction: column;
}


.detailsContainer {
  position: relative;
  /* margin-left: 3%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  margin: auto;
  transition: 0.5s;
}

.detailsContainerRight {
  padding: 30px 50px 0px 50px;
  box-sizing: border-box;
  height: 787px;
  width: 100%;
  max-width: 382px;
}

.MovieInfo {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  transition: 0.5s;
}

.coverImage {
  margin-bottom: 40px;
  height: 386px;
  width: 280px;
}

.allDetailsP {
  margin-bottom: 10px;
}

.infoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: fit-content;
  margin-bottom: 15px;
  padding: 2px 4px;
}

.info {
  font-size: 18px;
  font-weight: 400;
}

.info-mid {
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}

.Genre {
  font-size: 35px;
  margin-bottom: 15px;
  transition: 0.5s;
}

.movieTitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.5s;
}

.ytFrame {
  margin-bottom: 40px;
}

.p {
  font-size: 20px;
  font-weight: 500;
}

.ticketsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  width: 155px;
  height: 51px;
  box-sizing: border-box;
}

.fancy {
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 15px 0px;
  padding: 1em;
  outline: none;
  overflow: visible;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s;
  user-select: none;
  font-size: 13px;
  width: 170px;
}

.fancy::before {
  left: 0.8em;
  content: " ";
  width: 1rem;
  height: 2px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.2s linear, width 0.2s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  display: block;
  text-align: left;
  transition: all 0.2s;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0em 1.2em;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  transition: width 0.2s, left 0.2s;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  transition: width 0.2s ease-out, right 0.2s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  transition: width 0.2s, right 0.2s;
}

.fancy:hover::before {
  width: 0.7rem;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.thumbUPicon {
  position: relative;
  margin-right: 10px;
  color:greenyellow
}

.thumbUPicon:hover {
  cursor: pointer;
}

.dislikes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbDOWNicon {
  position: relative;
  margin-right: 10px;
  height: 10px;
  color:red;
}

.thumbDOWNicon:hover {
  cursor: pointer
}


.likes-and-dislikes {
  display: flex;
  flex-direction: column;
  height: 900px;
  position: relative;
  align-items: flex-end;
  margin: auto;
}

.likes-and-dislikes-container {
  height: 50px;
  width: 380px;
  display: flex;
  justify-content: center;
}


.reviews-container {
  position: relative;
  margin-top: 80px;
  left: -302px;
  max-height: fit-content;
}

.review-container {
  position: relative;
  background-color: #232323;
  width: 600px;
  min-height: 200px;
  max-height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.user-info {
  height: fit-content;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.user-image {
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
}

.review-user-name {
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.decoration {
  width: 80%;
  position: relative;
  padding-top: 20px;
  border-bottom: 2px solid #ffff00;
  justify-self: center;
  left: 55px;
}

.text-container {
  padding-top: 20px;
}

.text-container-review {
  margin-bottom: 40px;
  padding-top: 20px;
}


.review-input {
  all: unset;
  background-color: transparent;
  width: 100%;
  min-height: auto;
  color: white;
  overflow: visible;
  font-size: 1.1rem;
  /* margin-bottom:20px; */
}

.char-counter {
  padding-top: 5px;
  position: relative;
  right: -420px;
  font-size: 0.8rem;
}

.post-review-button {
  background-color: #ffff00;
  color: black;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
  position: relative;
  right: -435px;
}

.post-review-button:hover {
  cursor: pointer;
}

.review-date {
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
  right: 10px;
}


@media (max-width: 1300px) {
  .detailsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    height: 1295px;
  }

  .MovieInfo {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    transition: 0.5s;
    margin: auto;
  }

  .infoBar {
    margin: auto;
  }

  .ytFrame {
    width: 100%;
  }

  .detailsContainerRight {
    padding: 10px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 300px;
    max-width: 90%;
    text-align: left;
  }

  .coverImage {
    height: 100%;
    width: 30%;
  }

  .conteiner-allDetails {
    position: absolute;
    top: 20px;
    width: auto;
    margin-left: calc(30% + 20px);
  }

  .reviews-container {
    position: relative;
    margin-top: 380px;
    left: 0px;
    max-height: fit-content;
  }

  .char-counter {
    position: absolute;
    right: 20px;
    bottom: 40px;
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .review-container {
    position: relative;
    min-width: 400px;
    width: auto;
    min-height: 210px;
    max-height: auto;
    margin-top: calc(15% + 10px) ;
  }
  .likes-and-dislikes-container{
    position: relative;
    margin: auto;
    margin-top: 5%;
  }
  .post-review-button {
    position: absolute;
    right: 10px;
  }
}

