.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100px;
    background-color: whitesmoke;

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .title {
            font-size: 14px;
            color: black;
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid rgb(82, 79, 79);
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 15px;

            &.positive {
                color: green;
            }
            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 30px;
            padding: 5px;
            background-color: yellow;
            border-radius: 5px;
            align-self: flex-end;

        }
    }


}