.home {
    display: flex;

    .homeContainer {
        background-color: white;
        flex: 6;

        .widgets {
            display: flex;
            padding: 20px;
            gap: 20px;
        }
    }
}