.home {
    display: flex;

    .homeContainer {
        background-color: white;
        flex: 6;

        .widgets, .charts {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .charts {
            padding: 5px 20px;
        }

        .listContainer {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 20px;
            margin: 20px;

            .listTitle {
                font-weight: bolder;
                color: black;
                margin-bottom: 15px;
            }
        }
    }
}