.light-mode {
    .NewScreen {
        background-color: var(--LBase-2);

        .ContainerNewScreen {
            .InfoNewScreen {

                .top,
                .bottom {
                    box-shadow: var(--LDegradado3) 0px 3px 8px;
                    background-color: var(--Gold);

                    label,
                    h1 {
                        color: var(--LText-1);
                    }

                    .left {
                        h1 {
                            background-color: rgb(200, 200, 200, 0.6);
                            border: 2px solid var(--LBase-1);
                        }

                        .buttonConfirmL {
                            color: var(--LText-1);

                            &:hover {
                                color: var(--LText-2);
                            }
                        }
                    }

                    .right {

                        select {
                            background-color: var(--LBase-1);
                            color: var(--LText-2);
                        }

                        button {
                            color: var(--LText-1);

                            &:hover {
                                color: var(--LText-2);
                            }
                        }
                    }
                }
            }
        }
    }

}

.dark-mode {
    .NewScreen {
        background-color: var(--NFondo-1);

        .ContainerNewScreen {
            .InfoNewScreen {

                .top,
                .bottom {
                    box-shadow: var(--NDegradado3) 0px 3px 8px;
                    background-color: var(--NFondo-3);

                    label,
                    h1 {
                        color: var(--NText-1);
                    }

                    .left {
                        h1 {
                            background-color: rgb(200, 200, 200, 0.6);
                            border: 2px solid var(--NBase-1);
                            color: var(--NText-2);
                        }

                        .buttonConfirmL {
                            color: var(--NText-1);

                            &:hover {
                                color: var(--NText-2);
                            }
                        }
                    }

                    .right {

                        select {
                            background-color: var(--NBase-1);
                            color: var(--NText-2);
                        }

                        button {
                            color: var(--NText-1);

                            &:hover {
                                color: var(--NText-2);
                            }
                        }

                        input[type="time"]::-webkit-calendar-picker-indicator {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }

}

/*====================================================*/
.NewScreen {
    width: 100%;
    display: flex;

    .ContainerNewScreen {
        background-image: url(../img/doodle.jpg);
        flex: 6;

        .InfoNewScreen {
            .bottom {
                height: 550px;
            }

            .top,
            .bottom {
                width: 95%;
                padding: 10px;
                margin: 20px auto;
                display: flex;

                label,
                h1 {
                    font-size: 21px;
                }

                .left {
                    flex: 1;
                    text-align: left;
                    min-width: 600px;

                    h1 {
                        padding: 5px;
                        margin: 13px 20px;
                    }

                    .buttonConfirmL {
                        position: relative;
                        align-self: self-end;
                        width: 100px;
                        padding: 5px;
                        font-size: 30px;
                        margin-left: 20px;
                        text-align: center;
                        border-radius: 10px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .right {
                    flex: 2;
                    display: grid;
                    grid-template-rows: 40px 20px 40px 20px 70px 40px 40px 70px 70px auto;
                    margin: 20px 30px;
                    align-items: center;
                    justify-content: center;

                    label,
                    button {
                        margin: 10px;
                        height: 20px;
                    }

                    input[type="time"]::-webkit-calendar-picker-indicator {
                        cursor: pointer;
                    }

                    select {
                        width: 300px;
                    }

                    .seleMoviScre,
                    .seleRoomScre {
                        margin-left: 10px;
                    }

                    .seleMoviScre,
                    .seleRoomScre,
                    .seleDateScre {
                        width: 400px;
                    }

                    button {
                        position: relative;
                        align-self: self-end;
                        width: 100px;
                        padding: 5px;
                        font-size: 30px;
                        text-align: center;
                        border-radius: 10px;
                    }

                    button:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}