.light-mode {
    .list{
        .listContainer{
            background-color: var(--Dashboard-Base);
        }
    }
  }
  .dark-mode {
    .list{
        .listContainer{
            background-color: var(--NFondo-3);
        }
    }
  }
  
.list {
    display: flex;

    .listContainer {
        flex: 6;

    }
}