.light-mode {
  .newMovie {
    background-color: var(--LBase-2);

    .newContainer {
  
      .top,
      .bottom {
        box-shadow: var(--LDegradado3) 0px 3px 8px;
        background-color: var(--Gold);

        h1 {
          color: var(--LText-1);
        }

        .left {
          position: relative;
          .imageNM {
            position: absolute;
            width: 405px;
            margin-right: 30px;
            top: 0;
            left: 0;
            animation: float 3s ease-in-out infinite;
          }

          @keyframes float { 
            0% {
              transform: translate(0, 0);
            }
            50% {
              transform: translate(10px, 10px);
            }
            100% {
              transform: translate(0, 0);
            }
          }
        }

        .right {
          form {
            .formNM {
              label {
                color: var(--LText-1);
              }

              .vals {
                color: rgb(203, 7, 7);
              }
            }

            input {
              border-bottom: 1px solid rgb(92, 92, 92);
              color: var(--LText-1);

              &:hover {
                background-color: var(--LFondo-2);
              }
            }

            .buttonNM {
              color: var(--LText-1);

              .MuiSvgIcon-root {
                color: var(--LText-1);

                &:hover {
                  color: var(--LText-2);
                }
              }
            }
          }
        }
      }
    }
  }
}

.dark-mode {
  .newMovie {
    background-color: var(--NFondo-1);

    .newContainer {
      .top,
      .bottom {
        box-shadow: var(--NDegradado3) 0px 3px 8px;
        background-color: var(--NFondo-3);

        .left {
            position: relative;
        
            .imageNM {
              position: absolute;
              width: 405px;
              margin-right: 30px;
              top: 0;
              left: 0;
              animation: float 3s ease-in-out infinite;
            }
        
            @keyframes float {
              0% {
                transform: translate(0, 0);
              }
        
              50% {
                transform: translate(10px, 10px);
              }
        
              100% {
                transform: translate(0, 0);
              }
            }
          }



        h1 {
          color: var(--NText-1);
        }

        .right {
          form {
            .formNM {
              label {
                color: var(--NText-1);
              }

              .vals {
                color: rgb(203, 7, 7);
              }
            }

            input {
              border-bottom: 1px solid rgb(92, 92, 92);
              color: var(--NText-1);

              &:hover {
                background-color: var(--NFondo-2);
              }
            }

            .buttonNM {
              color: var(--NText-1);

              .MuiSvgIcon-root {
                color: var(--NText-1);

                &:hover {
                  color: var(--NText-2);
                }
              }
            }
          }
        }
      }
    }
  }
}

/*================================================*/
.newMovie {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      padding: 10px;
      margin: 20px;
      display: flex;


      h1 {
        font-size: 21px;
      }

      .left {
        flex: 1;
        text-align: center;
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: space-around;

          .formNM {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            .icon {
              cursor: pointer;
              font-size: 30px;
            }

            .vals {
              font-size: 13px;
              font-style: oblique;
            }

            .selectorGenre {
              background-color: rgb(238, 210, 139);
            }
          }

          input {
            width: 100%;
            padding: 5px;
            border: none;
            font-size: 13px;
            font-style: italic;
          }

          .buttonNM {
            width: 0px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            margin-top: 10px;
            font-size: 30px;

            .MuiSvgIcon-root {
              font-size: 35px;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}
