.light-mode .text-profile {
  color: var(--LText-1);
}

.light-mode .image-profile:hover+.text-profile {
  color: var(--Gold);
}

.light-mode .container-profile:hover .buttons-profile {
  border-top: 1px solid var(--LBase-1);
}



.dark-mode .text-profile {
  color: var(--NText-1);
}

.dark-mode .image-profile:hover+.text-profile {
  color: var(--Gold);
}

.dark-mode .container-profile:hover .buttons-profile {
  border-top: 1px solid var(--NBase-1);
}
<<<<<<< HEAD

.dark-mode .buttons-profile {
  background-color: var(--NBase-1);
=======
.dark-mode .linkedin-link,
.dark-mode .git-link{
  border-radius: 50%;
  background-color: antiquewhite;
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2
}



.container-profile {
  margin: 15px 60px;
  justify-content: center;
  text-align: center;
  transition: all 0.1s ease-in-out;
  font-family: Helvetica, sans-serif;
}

.container-profile:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* border-bottom: 1px solid black; */
}


.image-profile {
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
<<<<<<< HEAD
  transition: all 0.4s ease-in-out;
=======
  transition: all 0.2s ease-in-out;
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2
  padding: 10px;
}

.image-profile:hover {
  transform: translateY(-10px);
<<<<<<< HEAD
  transition: all 0.4s ease-in-out;
=======
  transition: all 0.2s ease-in-out;
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2

}




.text-profile {
<<<<<<< HEAD
  transition: all 0.4s ease-in-out;
=======
  transition: all 0.2s ease-in-out;
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2
  cursor: default;
  font-size: 20px
}



.buttons-profile {
  padding: 10px;
  border-radius: 20%;
}



.git-link {
  width: 15%;
  margin-right: 20px;
<<<<<<< HEAD
  transition: all 0.4s ease-in-out;
=======
  transition: all 0.2s ease-in-out;
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2
}

.git-link:hover {
  transform: scale(1.2);
<<<<<<< HEAD
  transition: all 0.4s ease-in-out;
=======
  transition: all 0.2s ease-in-out;
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2
  cursor: pointer;
}

.linkedin-link {
  width: 15%;
<<<<<<< HEAD
  transition: all 0.4s ease-in-out;
=======
  transition: all 0.2s ease-in-out;
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2
}

.linkedin-link:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
<<<<<<< HEAD
=======
  
>>>>>>> edc5883d7d46c9b93f7d359b3a7ed1d51d4351f2
}